.main-card {
  min-height: 80vh;
}

.container-center {
  display: grid;
  place-items: center;
  height: 90vh;
  position: absolute;
}

.container-center-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.sortAsc {
  transform: rotate(45deg);
}

.sortDesc {
  transform: rotate(135deg);
}
