.main-card {
  min-height: 80vh;
}

.container-center {
  display: grid;
  place-items: center;
  height: 100vh;
}

.sortAsc {
  transform: rotate(45deg);
}

.sortDesc {
  transform: rotate(135deg);
}